$namespace: a-content-wrap;

.#{$namespace} {
  border: 1px solid var(--ifm-surface-border-color);
  border-radius: 4px;
  overflow: hidden;

  &-content {
    background: url('./grid.svg');
    background-size: 36px 36px;
    padding: 25px;
    border-bottom: 1px solid var(--ifm-surface-border-color);
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #27272a;
  }
}
