$namespace: btn;

.#{$namespace} {
  height: 38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 30, 30);
  color: rgb(246, 246, 246);
  font-size: 14px;
  padding: 6px 16px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    color: rgb(246, 246, 246);
    background-color: rgb(40, 40, 40);
  }

  &-anchor {
    text-decoration: none;
  
    &:hover {
      text-decoration: none;
    }
  }

  &-icon {
    display: flex;
    align-items: center;
  }

  &-text-gap {
    margin-left: 10px;
  }
}