$namespace: a-card;

.#{$namespace} {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgb(60, 60, 60);
  background-color: var(--ifm-background-color);
  cursor: pointer;
  position: relative;
  transition: 0.5s;

  &:hover {
    border-color: rgb(100, 100, 100);
  }

  &-desc {
    color: #9f9f9f;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: #e0e0e0;
  }
}
