$namespace: home-page;

@keyframes wave {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50%,
  100% {
    transform: rotate(0deg);
  }
}

.#{$namespace} {
  background: #373b44;
  background: linear-gradient(#23303d, #02132c);

  &-intro {
    display: flex;
    align-items: center;
    height: calc(100vh - var(--ifm-navbar-height));
    position: relative;
    overflow: hidden;
  }

  &-intro-wrap {
    display: flex;
    justify-content: space-between;
    z-index: 1;

    p {
      margin-bottom: 0;
    }
  }

  &-code {
    width: 500px;

    pre,
    span {
      background-color: #04344e !important;
    }
  }

  &-center-title {
    text-align: center;
  }

  &-hello {
    font-size: 2rem;
    display: inline-block;
    animation: wave 1s linear infinite alternate;
  }

  .container {
    padding-bottom: 50px;
  }

  &-bg {
    width: 400px;
    height: 400px;
    background-color: #0b8fd9;
    border-radius: 60px;
    position: absolute;
    left: -100px;
    top: -180px;
    z-index: 0;
    transform: rotate(110deg);
  }

  &-t-wave {
    margin-bottom: -10px;
  }

  &-wave-bg {
    background-color: #23303d;
  }

  &-blog {
    margin-bottom: 150px;
  }

  &-me {
    h1 {
      font-size: 36px;
      background: linear-gradient(
        to right,
        var(--ifm-color-primary),
        #23303d
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0.1rem 0;
    }
  }
}

@media screen and (max-width: 996px) {
  .#{$namespace} {
    &-intro-wrap {
      display: block;
    }

    .container {
      padding-left: 15px;
      padding-right: 15px;
    }

    &-code {
      width: 100%;
      margin-top: 30px;
    }
  }
}
