$namespace: hp-blog;

.#{$namespace} {
  &-title {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    a {
      text-decoration: none;
      color: #e0e0e0;

      &:hover {
        color: var(--ifm-link-color);
      }
    }

    h2 {
      font-size: 24px;
      margin: 0;
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid rgb(36, 36, 36);

    a {
      color: #e0e0e0;
    }

    time {
      font-size: 14px;
      color: #9f9f9f;
    }
  }

  &-content {
    display: block;
    padding-top: 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: 996px) {
  .#{$namespace} {
  }
}
