$namespace: hp-blog;

.#{$namespace} {
  &-title {
    padding-bottom: 46px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    a {
      padding: 4px 12px;
      border-radius: 4px;
      text-decoration: none;

      &:hover {
        background-color: var(--ifm-background-surface-color);
      }
    }

    h2 {
      font-size: 26px;
      margin: 0;
    }
  }

  &-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .a-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 10px;
      min-width: 300px;
      flex: 1;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-content {
    display: block;
    padding-top: 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: 996px) {
  .#{$namespace} {
    &-wrap {
      .a-card {
        width: 100%;
        margin: 0 0 20px 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
