$namespace: donate;

.#{$namespace} {
  display: flex;
  margin-top: 20px;
  align-items: center;
  width: 100%;
  justify-content: flex-end;

  &-label {
    font-size: 12px;
  }

  button {
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }

  img {
    width: 160px;
    height: 160px;
  }
}
