$namespace: hp-projects;

.#{$namespace} {
  &-title {
    margin-bottom: 0;
    padding-bottom: 30px;
    font-size: 24px;
  }

  &-wrap {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;

    .a-card {
      flex: 0 0 calc(33.3% - 20px);
      margin: 10px;
    }
  }
}

@media screen and (max-width: 900px) {
  .#{$namespace} {
    &-wrap {
      .a-card {
        flex-basis: calc(50% - 20px);
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .#{$namespace} {
    &-wrap {
      .a-card {
        flex-basis: calc(100% - 20px);
        margin-bottom: 10px;
      }
    }
  }
}
