$namespace: hp-projects;

.#{$namespace} {
  &-title {
    text-align: center;
    padding-bottom: 30px;
    font-size: 26px;
  }

  &-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .a-card {
      margin: 10px;
      min-width: 300px;
      flex: 1;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 996px) {
  .#{$namespace} {
    &-wrap {
      .a-card {
        width: 100%;
        margin: 0 0 20px 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
