$namespace: fc-list;

.#{$namespace} {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0;

  img {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    margin-right: 10px;
  }

  .a-card {
    margin: 12px 0;
    padding: 15px;
    width: 49%;
    height: 120px;
    display: flex;
    background-color: var(--ifm-background-color);
    border: 1px solid rgb(60, 60, 60);

    a {
      color: var(--ifm-color-primary);
    }
  }

  p {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-tag {
    font-size: 12px;
    display: inline-block;
    padding-right: 10px;
    color: var(--ifm-color-primary-lightest);
  }

  &-c-content {
    padding-left: 2px;
    flex: 1;
    overflow: hidden;
  }
}

@media screen and (max-width: 996px) {
  .#{$namespace} {
    padding: 30px 0;

    .a-card {
      width: 100%;
      margin: 10px 0;
    }
  }
}
