$namespace: ai-summary;

@keyframes shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.#{$namespace} {
  margin-bottom: 20px;

  &-button {
    background-color: #242428;
    outline: none;
    border: 1px solid #666;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;

    span {
      margin-left: 5px;
    }

    svg {
      animation: shaking 0.7s ease-in-out infinite;
    }

    &:hover {
      background-color: #353538;
    }
  }

  &-title {
    font-size: 15px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
  }

  &-content {
    padding: 10px;
    font-size: 14px;
    background-color: rgb(36, 36, 40);
    border: 1px solid var(--ifm-surface-border-color);
    border-radius: 6px;

    p {
      &:last-of-type {
        margin: 0;
      }
    }
  }
}
