---
summary: >-
  这个 CSS 类名为
  `ai-summary`，它定义了一个可折叠的摘要组件。组件包含一个按钮，一个标题和一个内容区。按钮用于展开或折叠内容区，标题用于显示摘要的标题，内容区用于显示摘要的详细信息。摘要组件的样式包括边距、背景色、字体大小、边框等。
---
$namespace: ai-summary;

.#{$namespace} {
  margin-bottom: 20px;

  &-button {
    background-color: #242428;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;

    span {
      margin-left: 5px;
    }

    &:hover {
      background-color: #353538;
    }
  }

  &-title {
    font-size: 15px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
  }

  &-content {
    padding: 10px;
    font-size: 14px;
    background-color: rgb(36, 36, 40);
    border: 1px solid var(--ifm-surface-border-color);
    border-radius: 6px;
  }
}
