$namespace: hp-about-me;

.#{$namespace} {
  &-title {
    text-align: center;
    padding-bottom: 30px;
    font-size: 26px;
  }

  &-wrap {
    display: flex;

    img {
      width: 100px;
      height: 100px;
      margin-right: 60px;
    }
  }
}

@media screen and (max-width: 996px) {
  .#{$namespace} {
    img {
      margin-right: 30px;
    }
  }
}
