$namespace: a-content-wrap;

.#{$namespace} {
  border: 1px solid var(--ifm-surface-border-color);
  border-radius: 4px;
  overflow: hidden;

  &-content {
    display: flex;
    justify-content: space-between;
    background: url('./grid.svg');
    background-size: 36px 36px;
    padding: 25px;
  }

  &-node {
    width: 50px;
    height: 50px;
  }

  &-log {
    font-size: 12px;
    padding: 8px;
    border-top: 1px solid var(--ifm-surface-border-color);
    border-bottom: 1px solid var(--ifm-surface-border-color);
  }
}
